* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

@font-face {
    font-family: shaiful;
    src: url(../css/Chomsky.otf)
}

body {
    background: #1e1e1e;
}

.title h1 {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    font-weight: 400;
    color: #997105;
    text-transform: capitalize;
    text-shadow: -3px 2px 0px #3333;
}

hr {
    border: 0;
    outline: none;
    height: 11px;
    background: transparent url("../images/body/hr.gif") center center repeat-x;
    margin: 0 0 20px;
}

#main .about,
#main .expertise,
#main .offer,
#main .testi {
    padding: 20px 0;
}

/*=======================================================================================
                                    header-part start
=========================================================================================*/
#header-part {
    position: fixed;
    width: 100%;
    height: auto !important;
    background: #0f0f0f;
    top: 0;
    left: 0;
    z-index: 5;
}

#header-part .header {
    width: 720px;
    margin: auto;
    padding: 10px 0 30px 0;
}

#header-part .header .text h1 {
    font-family: 'shaiful', serif;
    font-size: 45px;
    font-weight: 400;
    color: #997105;
    letter-spacing: 3px;
    margin-bottom: 10px !important;
}

#header-part .header .text .element,
#header-part .header .text .typed-cursor {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: bisque;
}

#header-part .header .img {
    width: 100px;
    margin-left: auto;
}

#header-part .header .img img {
    width: 100%;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    border: 2px solid #997105;
    border-radius: 50%;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    height: 145px;
    background: transparent;
    z-index: 9;
}

/*=======================================================================================
                                    header-part end
=========================================================================================*/

/*=======================================================================================
                                    banner-part start
=========================================================================================*/
#banner-part {
    background: url(../images/body/body-text-dark.jpg) #242424;
    border-bottom: 1px solid #0f0f0f;
    height: 50px !important;
    position: fixed;
    width: 100%;
    top: 115px;
    left: 0;
    z-index: 99;
}

#banner-part .banner {
    position: fixed;
    width: 100%;
}

#banner-part .banner .overlay {
    width: 720px;
    margin: auto;
}

#banner-part .banner .overlay .left {
    display: flex;
    margin-top: 10px;
}

#banner-part .banner .overlay .left a {
    font-family: 'Crimson Text', serif;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    border: 1px solid #dba500;
    border-radius: 2px;
    padding: 5px;
    margin-right: 10px;
    background: linear-gradient(#ffe788, #ffce38);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#banner-part .banner .overlay .left a i {
    margin-right: 5px;
}

#banner-part .banner .overlay .right {
    display: flex;
    justify-content: flex-end;
}

#banner-part .banner .overlay .social a i {
    border: 1px solid #dba500;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    display: inline-block;
    background: linear-gradient(#ffe788, #ffce38);
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#banner-part .banner .overlay .logo {
    width: 100px;
    margin-right: 10px;
}

#banner-part .banner .overlay .logo img {
    width: 100%;
    margin-top: 5px;
}

#banner-part .banner .overlay .left a:hover {
    background: linear-gradient(#ffe788, #ffe788);
    background-color: #ffeca0;
}

#banner-part .banner .overlay .social a i:hover {
    background: linear-gradient(#ffe788, #ffe788);
    background-color: #ffeca0;
}

/*=======================================================================================
                                    banner-part end
=========================================================================================*/

/*=======================================================================================
                                    navbar-part start
=========================================================================================*/
nav ul {
    display: block !important;
    position: fixed;
    top: 220px;
    text-align: right;
    width: 170px;
}

nav ul a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #a9a9a9;
}

nav ul a:hover {
    color: #999;
    transition: .6s;
}

nav ul li a:focus {
    color: #997105;
    font-weight: bold;
}

/*=======================================================================================
                                    navbar-part end
=========================================================================================*/

#main {
    width: 750px;
    padding: 30px 30px 50px 30px;
    margin: auto;
    margin-top: 160px;
    position: relative;
    background: url(../images/body/body-text-dark.jpg);
    border-radius: 3px;
    border: 1px solid #0f0f0f;
    height: auto !important;
}

/*=======================================================================================
                                    about-part start
=========================================================================================*/

#main .about .article p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #a9a9a9;
    text-align: justify;
    width: 522px;
}

#main .about .article .moretext {
    display: none;
}

#main .about .article .moretext a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #997105;
}

#main .about .moreless-button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: brown;
    cursor: pointer;
}

#main .about .details {
    margin-top: 10px !important;
    width: 350px;
}

#main .about .details i {
    font-size: 16px;
    color: #997105;
}

#main .about .details span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #a9a9a9;
    margin-left: 10px;
}

#main .about .details h5 {
    color: #fff;
}

#main .about .details h5 span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
}

#main .about .interest h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #997105;
    text-transform: capitalize;
    margin-top: 30px;
}

#main .about .interest i {
    font-size: 18px;
    margin-top: 10px;
    color: #997105;
}

#main .about .interest span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #a9a9a9;
    margin-left: 10px;
}

/*=======================================================================================
                                    about-part end
=========================================================================================*/

/*=======================================================================================
                                    expertise-part start
=========================================================================================*/

#main .expertise .progress-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #a9a9a9;
    transition: .6s;
    margin: 0 0 25px;
}

#main .expertise .progress {
    height: 10px;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}

#main .expertise .progress:before,
.progress:after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 1;
}

#main .expertise .progress:after {
    border: 7px solid #e9e9ea;
    left: auto;
    right: 0;
}

#main .expertise .progress .progress-bar {
    background: gray;
    transition: .6s;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    overflow: visible;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}

#main .expertise .progress .progress-value {
    width: 80px;
    height: 30px;
    line-height: 20px;
    border-radius: 20px;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: -10px;
    right: 0;
    z-index: 2;
}

#main .expertise .progress.pink:before {
    border: 7px solid #ec0c7e;
}

#main .expertise .progress.orange:before {
    border: 7px solid #fe3b3b;
}

#main .expertise .progress.blue:before {
    border: 7px solid #1a4966;
}

#main .expertise .progress.golden:before {
    border: 7px solid #967200;
}

#main .expertise .progress.green:before {
    border: 7px solid #53aa2c;
}

#main .expertise .progress.purple:before {
    border: 7px solid #66406f;
}

#main .expertise .progress.maroon:before {
    border: 7px solid #b03060;
}

#main .expertise .progress.turquoise:before {
    border: 7px solid #40e0d0;
}

#main .expertise .progress.pink .progress-value {
    border: 5px solid #ec0c7e;
    color: #ec0c7e;
}

#main .expertise .progress.orange .progress-value {
    border: 5px solid #fe3b3b;
    color: #fe3b3b;
}

#main .expertise .progress.blue .progress-value {
    border: 5px solid #1a4966;
    color: #1a4966;
}

#main .expertise .progress.golden .progress-value {
    border: 5px solid #967200;
    color: #967200;
}

#main .expertise .progress.green .progress-value {
    border: 5px solid #53aa2c;
    color: #53aa2c;
}

#main .expertise .progress.purple .progress-value {
    border: 5px solid #66406f;
    color: #66406f;
}

#main .expertise .progress.maroon .progress-value {
    border: 5px solid #b03060;
    color: #b03060;
}

#main .expertise .progress.turquoise .progress-value {
    border: 5px solid #40e0d0;
    color: #40e0d0;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}

/*=======================================================================================
                                    expertise-part end
=========================================================================================*/

/*=======================================================================================
                                    works-part start
=========================================================================================*/

#main .works a .image {
    margin: 20px 0;
    height: 350px;
    cursor: pointer;
    background-position: top;
    transition: ease-in-out 4s;
    border-radius: 5px;
}

#main .works a .image.image1 {
    background: url(../images/works/Gyan.jpg);
    background-size: cover;
}

#main .works a .image.image2 {
    background: url(../images/works/Hunt.jpg);
    background-size: cover;
}

#main .works a .image.image4 {
    background: url(../images/works/Limolight.jpg);
    background-size: cover;
}

#main .works a .image:hover {
    background-position: bottom;
}

/*=======================================================================================
                                    works-part end
=========================================================================================*/

/*=======================================================================================
                                    offer-part start
=========================================================================================*/
#main .offer .content {
    border-bottom-left-radius: 40px;
    padding: 20px;
    border-left: 1px solid #daa520;
}

#main .offer .content i {
    border: 1px solid #daa520;
    padding: 15px;
    border-radius: 10px;
    color: #997105;
    font-size: 20px;
}

#main .offer .content h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #997105;
    text-transform: capitalize;
    margin-top: 10px;
}

#main .offer .content p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #a9a9a9;
    text-align: justify;
    margin-top: 20px;
}

#main .offer .content p .recentworks {
    color: sandybrown;
}

/*=======================================================================================
                                    offer-part end
=========================================================================================*/

/*=======================================================================================
                                    client-part start
=========================================================================================*/
#main .testimonials-wrapper {
    max-width: 700px;
    margin: auto;
}

#main .testimonial-item {
    padding: 0 20px 20px;
}

.testimonial-item .thumb {
    border-radius: 50%;
    overflow: hidden;
    height: 90px;
    width: 90px;
}

#main .testi .testimonial-item .thumb img {
    width: 100%;
}

#main .testi .testimonial-item h4 {
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    font-weight: 400;
    color: #a9a9a9;
}

#main .testi .testimonial-item span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #997105;
}

#main .testi .testimonial-item p {
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #a9a9a9;
}

#main .testimonial-item .subtitle {
    color: #8B88B1;
    font-size: 14px;
}

#main .testimonial-item p {
    font-size: 16px;
}

#main .testi .slick-initialized .slick-slide {
    outline: 0;
}

#main .testi ul {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#main .testi ul li {
    display: inline-block;
    margin-left: 10px;
}

#main .testi ul li button {
    font-size: 0;
    width: 15px;
    height: 7px;
    border: 1px solid #d4d4ff;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    outline: none;
}

#main .testi ul .slick-active button {
    background: #a9a9a9;
    border: 1px solid #997105;
    width: 20px;
}

/*=======================================================================================
                                    client-part end
=========================================================================================*/

/*=======================================================================================
                                    certification-part start
=========================================================================================*/

#main .certificate h2 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #a9a9a9;
}

#main .certificate h2 i {
    color: yellow;
}

#main .certificate .middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .certificate .frame {
    position: relative;
    margin: 20px 0 30px 0;
}

#main .certificate .tall {
    height: 282px;
}

#main .certificate .frame img {
    width: 100%;
    height: 100%;
    display: block;
}

#main .certificate .frame .img {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 135px;
    height: 108px;
}

#main .certificate .frame .wd {
    height: 178px;
    top: 52px;
}

#main .certificate .frame .img .overlay {
    width: 100%;
    height: 100%;
    background: rgba(218, 165, 32, .7);
    border: 5px solid rgba(255, 255, 255, .5);
    transform: scale(0);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s;
}

#main .certificate .frame .img .overlay i {
    color: #ffffff;
    font-size: 30px;
}

#main .certificate .frame:hover .overlay {
    transform: scale(1);
}

.vbox-figlio {
    border: 5px solid goldenrod;
}



/*=======================================================================================
                                    certification-part end
=========================================================================================*/

/*=======================================================================================
                                    contact-part start
=========================================================================================*/

#main .contact {
    padding: 40px 0 20px 0;
    position: relative;
    overflow: hidden;
}

#main .contact .formbox form {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
}

#main .contact .formbox form .inputbox {
    position: relative;
    margin-bottom: 40px;
}

#main .contact .formbox form .inputbox:last-child {
    margin-bottom: 0px;
}

#main .contact .formbox form .inputbox input,
#main .contact .formbox form .inputbox textarea {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: #a9a9a9;
    padding-bottom: 10px;
    border-bottom: 2px solid #a9a9a9;
    resize: none;
}

#main .contact .formbox form .inputbox textarea {
    height: 100px;
}

#main .contact .formbox form .inputbox input[type="submit"] {
    padding: 8px 20px;
    margin-top: -10px;
    width: 100px;
    cursor: pointer;
    background: -webkit-linear-gradient(120deg, #9bda2b, #ffcc00);
    color: #0056b3;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

#main .contact .formbox form .inputbox input[type="submit"]:focus {
    background: #ffcc00;
    color: #111;
}

#main .contact .formbox form .inputbox span {
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
    letter-spacing: 1px;
    color: #a9a9a9;
    transition: all 0.2s;
}

#main .contact .formbox form .inputbox input:focus~span,
#main .contact .formbox form .inputbox textarea:focus~span,
#main .contact .formbox form .inputbox input:valid~span,
#main .contact .formbox form .inputbox textarea:valid~span {
    transform: translateY(-24px);
    color: #997105;
    font-size: 14px;
}

#main .contact .formbox form .inputbox input:focus,
#main .contact .formbox form .inputbox textarea:focus {
    border-bottom: 2px solid #997105;
}

#main .contact .imgbox {
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
}

#main .contact .imgbox:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(120deg, #9bda2b, #ffcc00);
    transform-origin: bottom;
    transform: skewX(-20deg);
}

#main .contact .imgbox img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%;
}

/*=======================================================================================
                                    contact-part end
=========================================================================================*/

/*=======================================================================================
                                    footer-part start
=========================================================================================*/

footer span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    line-height: 1;
    width: 220px;
    position: fixed;
    bottom: 3px;
    text-align: right;
    padding-right: 55px;
}

footer span a {
    font-family: 'Tangerine', cursive;
    font-size: 28px;
    font-weight: bold;
    color: #997105;
}

footer span a:hover {
    color: #daa520;
}

/*=======================================================================================
                                    footer-part end
=========================================================================================*/