@media (max-width: 575.98px) {

    .title {
        margin-top: 30px;
    }

    .title .text {
        width: 70%;
    }

    #header-part .header i {
        margin-left: 15px;
    }

    #header-part .header {
        padding: 5px 0;
    }

    #header-part .header a {
        font-size: 14px;
    }

    nav {
        margin: 5px 0;
        margin-left: 15px;
    }

    .navbar-toggler-icon {
        margin-top: 15px;
        margin-right: 15px;
    }

    nav ul li {
        padding-left: 0;
        text-align: center;
    }

    nav ul .btn {
        margin: 20px 0;
    }

    nav ul .btn a {
        padding: 10px;
    }

    #banner-part img {
        height: 350px;
    }

    #banner-part .overlay {
        text-align: center;
        padding-top: 15px;
    }

    #banner-part .overlay h2 {
        font-size: 25px;
    }

    #banner-part .overlay h3 {
        font-size: 30px;
    }

    #banner-part .overlay p {
        width: 90%;
        margin: auto;
        padding-top: 10px;
    }

    #banner-part .overlay .btn {
        margin-top: 35px;
    }

    #banner-part .overlay .btn a {
        padding: 10px;
    }

    #banner-part .next {
        font-size: 20px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
    }

    #banner-part .prev {
        font-size: 20px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
    }

    #about-part .title {
        margin-top: -70px;
    }

    #about-part .facility {
        margin-top: -260px;
    }

    #about-part .facility .content {
        padding: 0;
    }

    #about-part .facility .p-left {
        padding-left: 0;
        width: 33%;
    }

    #about-part .facility .p-middle {
        width: 34%;
    }

    #about-part .facility .p-right {
        padding-right: 0;
        width: 33%;
    }

    #about-part .facility .content h2 {
        margin: 0 auto;
    }

    #about-part .about {
        margin-top: 160px;
    }

    #about-part .about::after {
        width: 70%;
    }

    #about-part .about::before {
        left: 65%;
    }

    #about-part .about .right {
        text-align: center;
    }

    #about-part .about .right .text {
        width: 100%;
        margin-top: 30px;
    }

    #about-part .about .right .btn {
        margin: 30px 0;
        margin-right: 20px;
    }

    #about-part .about .right .btn a {
        padding: 12px;
        font-size: 18px;
    }

    #about-part .number {
        margin-top: 0;
    }

    #about-part .number .details {
        margin: 0;
    }

    #about-part .number .details .work span {
        font-size: 20px;
    }

    #about-part .number .details .work p {
        font-size: 18px;
    }

    #testi-part .testi::before {
        left: 65%;
    }

    #testi-part .testi::after {
        width: 70%;
    }

    #testi-part .prev {
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        top: 45%;
        left: 0%;
    }

    #testi-part .next {
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        top: 55%;
        left: 0%;
    }

    #testi-part .testi .middle {
        margin-top: 30px;
        text-align: center;
    }

    #testi-part .testi .middle h2 {
        margin-top: 20px;
    }

    #testi-part .testi .middle i {
        margin-top: 0;
    }

    #testi-part .testi .right .card {
        margin-bottom: 0;
        margin-top: 20px;
    }

    #teacher-part .teacher .main {
        margin-bottom: 30px;
    }

    #blog-part .blog .down .img .overlay h2 {
        font-size: 20px;
        margin-top: 80px;
    }

    #blog-part .blog .img .overlay a {
        font-size: 16px;
    }

    #blog-part .blog .down .img .overlay .icon i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    #footer-part {
        margin-top: 520%;
        text-align: center;
    }

    #footer-part .footer .one {
        width: 50%;
    }

    #footer-part .footer .one img {
        width: 40%;
    }

    #footer-part .footer .one h5 {
        margin-top: 15px;
        width: 105%;
    }

    #footer-part .footer .one p {
        margin-top: 10px;
        width: 100%;
    }

    #footer-part .footer .one .icon {
        margin-top: 20px;
    }

    #footer-part .footer .two {
        width: 50%;
    }

    #footer-part .footer .two ul {
        margin-top: 25px;
    }

    #footer-part .footer .two ul li {
        margin-top: 15px;
    }

    #footer-part .footer .three {
        width: 50%;
    }

    #footer-part .footer .three ul {
        margin-top: 55px;
    }

    #footer-part .footer .four {
        width: 50%;
    }

    #footer-part .footer .four h2 {
        padding-top: 50px;
    }

    #footer-part .footer .four .details i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    #footer-part .footer .four .details .text {
        margin-left: 20px;
        text-align: left;
    }

    #footer-part .footer .four .details .text p {
        font-size: 14px;
        margin-top: 0;
    }




}




@media (min-width: 576px) and (max-width: 767.98px) {

    .title {
        margin-top: 30px;
    }

    .title .text {
        width: 70%;
    }

    #header-part .header i {
        margin-left: 5px;
        font-size: 14px
    }

    #header-part .header {
        padding: 5px 0;
    }

    #header-part .header a {
        font-size: 14px;
    }

    nav {
        margin: 5px 0;
        margin-left: 15px;
    }

    .navbar-toggler-icon {
        margin-top: 15px;
        margin-right: 15px;
    }

    nav ul li {
        padding-left: 0;
        text-align: center;
    }

    nav ul .btn {
        margin: 20px 0;
    }

    nav ul .btn a {
        padding: 10px;
    }

    #banner-part img {
        height: 350px;
    }

    #banner-part .overlay {
        text-align: center;
        padding-top: 15px;
    }

    #banner-part .overlay h2 {
        font-size: 25px;
    }

    #banner-part .overlay h3 {
        font-size: 30px;
    }

    #banner-part .overlay p {
        width: 90%;
        margin: auto;
        padding-top: 10px;
    }

    #banner-part .overlay .btn {
        margin-top: 35px;
    }

    #banner-part .overlay .btn a {
        padding: 10px;
    }

    #banner-part .next {
        font-size: 20px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
    }

    #banner-part .prev {
        font-size: 20px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
    }

    #about-part .title {
        margin-top: -70px;
    }

    #about-part .facility {
        margin-top: -260px;
    }

    #about-part .facility .content {
        padding: 0;
    }

    #about-part .facility .p-left {
        padding-left: 0;
        width: 33%;
    }

    #about-part .facility .p-middle {
        width: 34%;
    }

    #about-part .facility .p-right {
        padding-right: 0;
        width: 33%;
    }

    #about-part .facility .content h2 {
        margin: 0 auto;
    }

    #about-part .about {
        margin-top: 160px;
    }

    #about-part .about::after {
        width: 30%;
        top: 50px;
    }

    #about-part .about::before {
        left: 26%;
        top: 50px;
    }

    #about-part .about .left {
        margin-top: 60px;
    }

    #about-part .about .left::before {
        right: 62%;
    }

    #about-part .about .right {
        text-align: center;
    }

    #about-part .about .right .text {
        width: 110%;
        margin-top: -15px;
    }

    #about-part .about .right p {
        margin-top: 5px;
    }

    #about-part .about .right .btn {
        margin: 30px 0;
    }

    #about-part .about .right .btn a {
        padding: 12px;
        font-size: 18px;
    }

    #about-part .number {
        margin-top: 0;
    }

    #about-part .number .details {
        margin: 0;
    }

    #about-part .number .details .work span {
        font-size: 20px;
    }

    #about-part .number .details .work p {
        font-size: 18px;
    }

    #course-part .course .main {
        text-align: center;
    }

    #course-part .course .main .identity {
        display: inherit;
        text-align: center;
    }

    #course-part .course .main .identity .img {
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    #course-part .course .main .details {
        display: inherit;
        margin-bottom: 15px;
    }

    #course-part .slider .slick-track {
        height: 870px;
    }

    #course-part .prev {
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        left: 0;
    }

    #course-part .next {
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        right: 0;
    }

    #event-part .event .calendar .week ul li {
        padding: 10px;
    }

    #event-part .event .details .text a {
        padding: 10px;
    }

    #testi-part .testi {
        margin-top: 20px;
    }

    #testi-part .testi .left {
        margin-top: 70px;
    }

    #testi-part .testi::before {
        left: 15%;
        top: 60px;
    }

    #testi-part .testi::after {
        width: 20%;
        top: 60px;
    }

    #testi-part .testi .left::before {
        right: 55%;
    }

    #testi-part .prev {
        font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        top: 37%;
        left: -15%;
    }

    #testi-part .next {
        font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        top: 63%;
        left: -15%;
    }

    #testi-part .testi .middle {
        margin-top: 30px;
        text-align: center;
    }

    #testi-part .testi .middle h2 {
        margin-top: 20px;
    }

    #testi-part .testi .middle i {
        margin-top: 0;
    }

    #testi-part .testi .right .card {
        margin-bottom: 0;
        margin-top: 20px;
    }

    #testi-part .testi .right .card .card-header .btn-link {
        font-size: 16px;
    }

    #teacher-part .teacher .main {
        margin-bottom: 30px;
    }

    #blog-part .blog .img {
        margin-bottom: 10px;
    }

    #blog-part .blog .img .overlay .text {
        margin-top: 5px;
    }

    #blog-part .blog .img .overlay .text .eye {
        margin-left: 50px;
    }

    #blog-part .blog .img .overlay .text i {
        margin-right: 5px;
    }

    #blog-part .blog .down .img .overlay {
        height: 40%;
    }

    #blog-part .blog .down .img .overlay h2 {
        font-size: 16px;
        margin-top: 10px;
    }

    #blog-part .blog .img .overlay .icon {
        top: -200%;
    }

    #blog-part .blog .down .img .overlay .icon {
        top: -100%;
    }

    #blog-part .blog .down .img .overlay .icon i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    #footer-part {
        margin-top: 1270px;
        text-align: center;
    }

    #footer-part .footer .one {
        width: 50%;
    }

    #footer-part .footer .one img {
        width: 40%;
    }

    #footer-part .footer .one h5 {
        margin-top: 15px;
        width: 105%;
    }

    #footer-part .footer .one p {
        margin-top: 10px;
        width: 100%;
    }

    #footer-part .footer .one .icon {
        margin-top: 20px;
    }

    #footer-part .footer .two {
        width: 50%;
    }

    #footer-part .footer .two ul {
        margin-top: 25px;
    }

    #footer-part .footer .two ul li {
        margin-top: 15px;
    }

    #footer-part .footer .three {
        width: 50%;
    }

    #footer-part .footer .three ul {
        margin-top: 55px;
    }

    #footer-part .footer .four {
        width: 50%;
    }

    #footer-part .footer .four h2 {
        padding-top: 50px;
    }

    #footer-part .footer .four .details i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    #footer-part .footer .four .details .text {
        margin-left: 20px;
        text-align: left;
    }

    #footer-part .footer .four .details .text p {
        font-size: 14px;
        margin-top: 0;
    }




}




@media (min-width: 768px) and (max-width: 991.98px) {

    .title {
        margin-top: 30px;
    }

    .title .text {
        width: 70%;
    }

    #header-part .header i {
        margin-left: 20px;
    }

    #header-part .header {
        padding: 5px 0;
    }

    #header-part .header a {
        font-size: 14px;
    }

    nav {
        margin: 5px 0;
        margin-left: 15px;
    }

    .navbar-toggler-icon {
        margin-top: 15px;
        margin-right: 15px;
    }

    nav ul li {
        padding-left: 0;
        text-align: center;
    }

    nav ul .btn {
        margin: 20px 0;
    }

    nav ul .btn a {
        padding: 10px;
    }

    #banner-part img {
        height: 350px;
    }

    #banner-part .overlay {
        text-align: center;
        padding-top: 15px;
    }

    #banner-part .overlay h2 {
        font-size: 25px;
    }

    #banner-part .overlay h3 {
        font-size: 30px;
    }

    #banner-part .overlay p {
        width: 90%;
        margin: auto;
        padding-top: 10px;
    }

    #banner-part .overlay .btn {
        margin-top: 35px;
    }

    #banner-part .overlay .btn a {
        padding: 10px;
    }

    #banner-part .next {
        font-size: 20px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
    }

    #banner-part .prev {
        font-size: 20px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
    }

    #about-part .title {
        margin-top: -70px;
    }

    #about-part .facility {
        margin-top: -260px;
    }

    #about-part .facility .content {
        padding: 0;
    }

    #about-part .facility .p-left {
        padding-left: 0;
        width: 33%;
    }

    #about-part .facility .p-middle {
        width: 34%;
    }

    #about-part .facility .p-right {
        padding-right: 0;
        width: 33%;
    }

    #about-part .facility .content h2 {
        margin: 0 auto;
    }

    #about-part .about {
        margin-top: 180px;
    }

    #about-part .about::after {
        width: 30%;
    }

    #about-part .about::before {
        left: 26%;
    }

    #about-part .about .left::before {
        right: 62%;
    }

    #about-part .about .right {
        text-align: center;
    }

    #about-part .about .right .text {
        width: 100%;
        margin-top: 0;
    }

    #about-part .about .right p {
        margin-top: 5px;
    }

    #about-part .about .right .btn {
        margin: 20px 0;
        margin-right: 20px;
    }

    #about-part .about .right .btn a {
        padding: 12px;
        font-size: 18px;
    }

    #about-part .number {
        margin-top: 0;
    }

    #about-part .number .details {
        margin: 0;
    }

    #about-part .number .details .work span {
        font-size: 20px;
    }

    #about-part .number .details .work p {
        font-size: 18px;
    }

    #course-part .course .main {
        text-align: center;
    }

    #course-part .course .main .identity {
        display: inherit;
        text-align: center;
    }

    #course-part .course .main .identity .img {
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    #course-part .course .main .details {
        display: inherit;
        margin-bottom: 15px;
    }

    #course-part .slider .slick-track {
        height: 870px;
    }

    #course-part .prev {
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        left: 0;
    }

    #course-part .next {
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        right: 0;
    }

    #event-part .event .calendar .week ul li {
        padding: 23px;
    }

    #event-part .event .details .text a {
        padding: 10px;
    }

    #testi-part .testi {
        margin-top: 20px;
    }

    #testi-part .testi::before {
        left: 15%;
        top: 60px;
    }

    #testi-part .testi::after {
        width: 20%;
        top: 60px;
    }

    #testi-part .testi .left::before {
        right: 55%;
    }

    #testi-part .testi .left {
        margin-top: 70px;
    }

    #testi-part .prev {
        font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        top: 40%;
        left: -10%;
    }

    #testi-part .next {
        font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        top: 60%;
        left: -10%;
    }

    #testi-part .testi .middle {
        margin-top: 30px;
        text-align: center;
    }

    #testi-part .testi .middle h2 {
        margin-top: 20px;
    }

    #testi-part .testi .middle i {
        margin-top: 0;
    }

    #testi-part .testi .right .card {
        margin-bottom: 0;
        margin-top: 20px;
    }

    #teacher-part .teacher .main .text .icon i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    #teacher-part .teacher .main {
        margin-bottom: 30px;
    }

    #blog-part .blog .img {
        margin-bottom: 10px;
    }

    #blog-part .blog .img .overlay {
        padding: 10px 15px;
    }

    #blog-part .blog .img .overlay .icon i {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    #blog-part .blog .img .overlay {
        height: 40%;
    }

    #blog-part .blog .img .overlay h2 {
        font-size: 16px;
        margin-top: -15px;
    }

    #blog-part .blog .img .overlay .text {
        margin-top: 5px;
    }

    #blog-part .blog .img .overlay .text .eye {
        margin-left: 50px;
    }

    #blog-part .blog .img .overlay .text i {
        margin-right: 5px;
    }

    #blog-part .blog .down .img .overlay {
        height: 40%;
    }
    
    #blog-part .blog .down .img .overlay {
	padding: 0 5px;
}

    #blog-part .blog .img .overlay .icon {
        top: -130%;
    }
    
    #blog-part .blog .img:hover .icon {
	right: 5px;
}

    #blog-part .blog .down .img .overlay .icon {
        top: -145%;
    }

    #blog-part .blog .down .img .overlay .icon i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    #footer-part {
        margin-top: 350px;
        text-align: center;
    }

    #footer-part .footer .one {
        width: 50%;
    }

    #footer-part .footer .one img {
        width: 40%;
    }

    #footer-part .footer .one h5 {
        margin-top: 15px;
        width: 105%;
    }

    #footer-part .footer .one p {
        margin-top: 10px;
        width: 100%;
    }

    #footer-part .footer .one .icon {
        margin-top: 20px;
    }

    #footer-part .footer .two {
        width: 50%;
    }

    #footer-part .footer .two ul {
        margin-top: 25px;
    }

    #footer-part .footer .two ul li {
        margin-top: 15px;
    }

    #footer-part .footer .three {
        width: 50%;
    }

    #footer-part .footer .three ul {
        margin-top: 90px;
    }
    
    #footer-part .footer .three ul li {
	margin-top: 15px;
}

    #footer-part .footer .four {
        width: 50%;
    }

    #footer-part .footer .four .details i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    #footer-part .footer .four .details .text {
        margin-left: 20px;
        text-align: left;
    }

    #footer-part .footer .four .details .text p {
        font-size: 14px;
        margin-top: 0;
    }




}




@media (min-width: 992px) and (max-width: 1199.98px) {

    .title {
        margin-top: 30px;
    }

    .title .text {
        width: 70%;
    }

    #header-part .header i {
        margin-left: 20px;
    }
    
    #header-part .header a {
        font-size: 14px;
    }

    nav {
        margin: 5px 0;
        margin-left: 15px;
    }

    .navbar-toggler-icon {
        margin-top: 15px;
        margin-right: 15px;
    }

    nav ul li {
        padding-top: 20px;
    }

    nav ul .btn {
        margin: 20px 0;
    }

    #banner-part img {
        height: 350px;
    }

    #banner-part .overlay {
        text-align: center;
        padding-top: 15px;
    }

    #banner-part .overlay p {
        width: 85%;
        margin: auto;
        padding-top: 15px;
    }

    #banner-part .overlay .btn {
        margin-top: 35px;
    }

    #banner-part .next {
        font-size: 20px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
    }

    #banner-part .prev {
        font-size: 20px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
    }

    #about-part .title {
        margin-top: -70px;
    }

    #about-part .facility {
        margin-top: -240px;
    }

    #about-part .facility .content {
        padding: 0;
    }

    #about-part .facility .p-left {
        padding-left: 0;
        width: 33%;
    }

    #about-part .facility .p-middle {
        width: 34%;
    }

    #about-part .facility .p-right {
        padding-right: 0;
        width: 33%;
    }

    #about-part .facility .content h2 {
        margin: 0 auto;
    }

    #about-part .about {
        margin-top: 180px;
    }

    #about-part .about::after {
        width: 30%;
    }

    #about-part .about::before {
        left: 26%;
    }

    #about-part .about .left::before {
        right: 62%;
    }

    #about-part .about .right {
        text-align: center;
    }

    #about-part .about .right .text {
        width: 100%;
        margin-top: 0;
    }

    #about-part .about .right .btn {
        margin: 50px 0;
    }

    #about-part .number {
        margin-top: 30px;
    }

    #about-part .number .details {
        margin: 0;
    }

    #about-part .number .details .work span {
        font-size: 20px;
    }

    #about-part .number .details .work p {
        font-size: 18px;
    }

    #course-part .course .main {
        text-align: center;
    }

    #course-part .course .main .identity {
        display: inherit;
        text-align: center;
    }

    #course-part .course .main .identity .img {
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #course-part .course .main h2 {
	font-size: 22px;
}

    #course-part .slider .slick-track {
        height: 780px;
    }

    #course-part .prev {
	font-size: 25px;
	height: 50px;
	width: 50px;
	line-height: 50px;
	left: -15px;
}

    #course-part .next {
        font-size: 25px;
        height: 50px;
        width: 50px;
        line-height: 50px;
        right: -15px;
    }

    #event-part .event .calendar .week ul li {
        padding: 5px;
    }

    #event-part .event .details .text a {
        padding: 10px;
    }
    
    #event-part .event .details .text .pt span {
	font-size: 13px;
}
    
    #event-part .event .calendar .up {
	top: 20%;
}
    
    #event-part .event .calendar .down {
	top: 20%;
}

    #testi-part .testi {
        margin-top: 20px;
    }

    #testi-part .testi::before {
        left: 17%;
        top: 20px;
    }

    #testi-part .testi::after {
        width: 20%;
        top: 20px;
    }

    #testi-part .testi .left::before {
        right: 60%;
    }

    #testi-part .testi .left {
        margin-top: 30px;
    }

    #testi-part .prev {
        font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        top: 40%;
        left: -10%;
    }

    #testi-part .next {
        font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        top: 60%;
        left: -10%;
    }

    #testi-part .testi .middle {
        margin-top: 30px;
        text-align: center;
    }

    #testi-part .testi .middle h2 {
        margin-top: 20px;
    }

    #testi-part .testi .middle i {
        margin-top: 0;
    }

    #testi-part .testi .right .card {
        margin-bottom: 0;
        margin-top: 20px;
    }

    #teacher-part .teacher .main .text .icon i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    #teacher-part .teacher .main {
        margin-bottom: 30px;
    }

    #blog-part .blog .img {
        margin-bottom: 10px;
    }

    #blog-part .blog .img .overlay {
        padding: 10px 15px;
    }

    #blog-part .blog .img .overlay .icon i {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    #blog-part .blog .img .overlay {
        height: 25%;
    }

    #blog-part .blog .img .overlay h2 {
        font-size: 16px;
        margin-top: -15px;
    }

    #blog-part .blog .img .overlay .text {
        margin-top: 5px;
    }

    #blog-part .blog .img .overlay .text .eye {
        margin-left: 50px;
    }

    #blog-part .blog .img .overlay .text i {
        margin-right: 5px;
    }

    #blog-part .blog .down .img .overlay {
        height: 25%;
    }

    #blog-part .blog .img .overlay .icon {
        top: -230%;
    }
    
    #blog-part .blog .img:hover .icon {
	right: 30px;
}

    #blog-part .blog .down .img .overlay .icon {
        top: -245%;
    }

    #blog-part .blog .down .img .overlay .icon i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    #footer-part {
        margin-top: 500px;
        text-align: center;
    }

    #footer-part .footer .one {
        width: 50%;
    }

    #footer-part .footer .one img {
        width: 40%;
    }

    #footer-part .footer .one h5 {
        margin-top: 15px;
        width: 105%;
    }

    #footer-part .footer .one p {
        margin-top: 10px;
        width: 100%;
    }

    #footer-part .footer .one .icon {
        margin-top: 20px;
    }

    #footer-part .footer .two {
        width: 50%;
    }

    #footer-part .footer .two ul {
        margin-top: 25px;
    }

    #footer-part .footer .two ul li {
        margin-top: 15px;
    }

    #footer-part .footer .three {
        width: 50%;
    }

    #footer-part .footer .three ul {
        margin-top: 90px;
    }
    
    #footer-part .footer .three ul li {
	margin-top: 15px;
}

    #footer-part .footer .four {
        width: 50%;
    }

    #footer-part .footer .four .details i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    #footer-part .footer .four .details .text {
        margin-left: 20px;
        text-align: left;
    }

    #footer-part .footer .four .details .text p {
        font-size: 14px;
        margin-top: 0;
    }




}
