@media (min-width: 576px) and (max-width: 767.98px) {

    #header-part nav .navbar-toggler-icon i {
        color: #ffffff;
    }

    #header-part nav ul {
        text-align: center;
    }

    #header-part nav ul li::after {
        width: 20%;
    }

    #header-part nav ul li:hover::after {
        width: 20%;
        bottom: 0;
    }

    #banner-part .prev {
        left: 10px;
        font-size: 50px;
    }

    #banner-part .next {
        right: 10px;
        font-size: 50px;
    }

    #banner-part .banner .text {
        width: 450px;
        padding: 10px;
    }

    #banner-part .banner .text p{
        font-size: 24px;
    }

    #browse-part .prev{
        left: -25px;
    }

    #browse-part .next{
        right: -25px;
    }

    #feature-part .feature .content {
        margin: 20px 0;
    }

    #feature-part .prev {
        left: -25px;
        font-size: 50px;
    }

    #feature-part .next {
        right: -25px;
        font-size: 50px;
    }

    #feature-part .feature .content .restaurant .images h5{
        top: -14px;
    }

    #feature-part .feature .content .restaurant .images .undertext{
        padding-left: 0;
    }

    #feature-part .feature .content .restaurant .images .undertext .icon i{
        font-size: 12px;
    }

    #feature-part .feature .content .restaurant .images .undertext a{
        font-size: 12px;
        padding-top: 6px;
    }

    #restaurant-part .restaurant .content {
        margin: 20px 0;
    }

    #restaurant-part .restaurant .content .restaurant .images h5{
        top: -14px;
    }

    #restaurant-part .restaurant .content .restaurant .images .undertext{
        padding-left: 0;
    }

    #restaurant-part .restaurant .content .restaurant .images .undertext .icon i{
        font-size: 12px;
    }

    #restaurant-part .restaurant .content .restaurant .images .undertext a{
        font-size: 12px;
        padding-top: 6px;
    }

    #footer-part #footer .footer .left{
        padding: 0;
    }

    #footer-part #footer .footer .left h2,
    #footer-part #footer .footer .middle h2,
    #footer-part #footer .footer .right h2{
        font-size: 20px;
    }

    #footer-part #footer .footer .left p,
    #footer-part #footer .footer .left a{
        font-size: 14px;
        width: 160px;
    }
    
    #footer-part #footer .footer .middle,
    #footer-part #footer .footer .right{
        padding: 0 10px;
    }

    #footer-part #footer .footer .content .item .icon {
        width: 20px;
        height: 20px;
    }

    #footer-part #footer .footer .content .item .icon i{
        font-size: 14px;
    }

    #footer-part #footer .footer .content .item p{
        font-size: 14px;
        margin-left: -15px;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {

    #header-part nav .navbar-toggler-icon i {
        color: #ffffff;
    }

    #header-part nav ul {
        text-align: center;
    }

    #header-part nav ul li::after {
        width: 20%;
    }

    #header-part nav ul li:hover::after {
        width: 20%;
        bottom: 0;
    }

    #banner-part .prev {
        left: 10px;
        font-size: 50px;
    }

    #banner-part .next {
        right: 10px;
        font-size: 50px;
    }

    #banner-part .banner .text {
        width: 450px;
        padding: 10px;
    }

    #banner-part .banner .text p{
        font-size: 24px;
    }

    #browse-part .prev{
        left: -25px;
    }

    #browse-part .next{
        right: -25px;
    }

    #feature-part .feature .content {
        margin: 20px 0;
    }

    #feature-part .prev {
        left: -25px;
        font-size: 50px;
    }

    #feature-part .next {
        right: -25px;
        font-size: 50px;
    }

    #feature-part .feature .content .restaurant .images h5{
        top: -14px;
    }

    #feature-part .feature .content .restaurant .images .undertext{
        padding-left: 0;
    }

    #feature-part .feature .content .restaurant .images .undertext .icon i{
        font-size: 12px;
    }

    #feature-part .feature .content .restaurant .images .undertext a{
        font-size: 12px;
        padding-top: 6px;
    }

    #restaurant-part .restaurant .content {
        margin: 20px 0;
    }

    #restaurant-part .restaurant .content .restaurant .images h5{
        top: -14px;
    }

    #restaurant-part .restaurant .content .restaurant .images .undertext{
        padding-left: 0;
    }

    #restaurant-part .restaurant .content .restaurant .images .undertext .icon i{
        font-size: 12px;
    }

    #restaurant-part .restaurant .content .restaurant .images .undertext a{
        font-size: 12px;
        padding-top: 6px;
    }

    #footer-part #footer .footer .left{
        padding-left: 30px;
    }

    #footer-part #footer .footer .left h2,
    #footer-part #footer .footer .middle h2,
    #footer-part #footer .footer .right h2{
        font-size: 20px;
    }

    #footer-part #footer .footer .left p,
    #footer-part #footer .footer .left a{
        font-size: 14px;
        width: 160px;
    }
    
    #footer-part #footer .footer .middle,
    #footer-part #footer .footer .right{
        padding: 0 10px;
    }

    #footer-part #footer .footer .content .item .icon {
        width: 20px;
        height: 20px;
    }

    #footer-part #footer .footer .content .item .icon i{
        font-size: 14px;
    }

    #footer-part #footer .footer .content .item p{
        font-size: 14px;
        margin-left: -15px;
    }
}