* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

#browse-part,
#feature-part,
#restaurant-part,
#app-part {
    padding: 20px 0;
}

.title .left h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

.title .right {
    text-align: right;
}

.title .right a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}



/*=======================================================================================
                                    header-top-part start
=========================================================================================*/

#header-top-part {
    background: #f9c14a;
    padding: 15px 0;
}

#header-top-part .header-top h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

#header-top-part .header-top .right {
    text-align: right;
}

#header-top-part .header-top a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}


/*=======================================================================================
                                    header-top-part end
=========================================================================================*/

/*=======================================================================================
                                    header-part start
=========================================================================================*/

#header-part {
    background: #000000;
}

#header-part .header nav ul li {
    position: relative;
    padding: 0 20px;
}

#header-part .header nav ul li .nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

#header-part .header nav ul li::after {
    position: absolute;
    width: 90%;
    height: 3px;
    content: "";
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #f9c14a;
    opacity: 0;
}

#header-part .header nav ul li:hover:after {
    opacity: 1;
    transition: .4s;
}

#header-part .header nav form {
    position: absolute;
    bottom: -50px;
    z-index: 99;
    right: 0;
}

/*=======================================================================================
                                    header-part end
=========================================================================================*/

/*=======================================================================================
                                    banner-part start
=========================================================================================*/

#banner-part .banner {
    position: relative;
}

#banner-part .banner img {
    width: 100%;
    filter: blur(5px);
}

#banner-part .banner .text {
    background: rgba(0, 0, 0, .3);
    width: 510px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 25px;
}

#banner-part .banner .text p {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

#banner-part .banner .text p span {
    color: #f9c14a;
}

#banner-part .banner .text h5 {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

#banner-part .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    font-size: 60px;
    z-index: 1;
    cursor: pointer;
}

#banner-part .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    font-size: 60px;
    z-index: 1;
    cursor: pointer;
}

#banner-part ul {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#banner-part ul li {
    display: inline-block;
    margin-left: 10px;
}

#banner-part ul li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    background: #c8c8c8;
    cursor: pointer;
    outline: none;
}

#banner-part ul .slick-active button {
    background: #f9c14a;
    border: 1px solid #f9c14a;
}

/*=======================================================================================
                                    banner-part end
=========================================================================================*/

/*=======================================================================================
                                    browse-part start
=========================================================================================*/
#browse-part {
    background: #f4f4f4;
}

#browse-part .browse .images {
    margin-top: 20px;
}

#browse-part .browse .images .food img {
    margin: auto;
}

#browse-part .browse .images .food p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-align: center;
}

#browse-part .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 60px;
    z-index: 1;
    cursor: pointer;
    color: #7a7a7a;
}

#browse-part .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 60px;
    z-index: 1;
    cursor: pointer;
    color: #7a7a7a;
}

/*=======================================================================================
                                    browse-part end
=========================================================================================*/

/*=======================================================================================
                                    feature-part start
=========================================================================================*/

#feature-part .feature .content {
    margin: 20px 80px;
}

#feature-part .feature .content .restaurant .images {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

#feature-part .feature .content .restaurant .images h5 {
    background: #f9c14a;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 99%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

#feature-part .feature .content .restaurant .images img {
    width: 100%;
}

#feature-part .feature .content .restaurant .images .undertext {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
    width: 98%;
    padding-left: 10px;
}

#feature-part .feature .content .restaurant .images .undertext .icon i {
    color: #f8c049;
    font-size: 14px;
}

#feature-part .feature .content .restaurant .images .undertext a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

#feature-part .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    font-size: 60px;
    z-index: 1;
    cursor: pointer;
    color: #7a7a7a;
}

#feature-part .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    font-size: 60px;
    z-index: 1;
    cursor: pointer;
    color: #7a7a7a;
}

/*=======================================================================================
                                    feature-part end
=========================================================================================*/

/*=======================================================================================
                                    restaurant-part start
=========================================================================================*/
#restaurant-part {
    background: #f4f4f4;
}

#restaurant-part .restaurant .content {
    margin: 20px 80px;
}

#restaurant-part .restaurant .content .restaurant .images {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

#restaurant-part .restaurant .content .restaurant .images h5 {
    background: #f9c14a;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 99%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

#restaurant-part .restaurant .content .restaurant .images img {
    width: 100%;
}

#restaurant-part .restaurant .content .restaurant .images .undertext {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
    width: 98%;
    padding-left: 10px;
}

#restaurant-part .restaurant .content .restaurant .images .undertext .icon i {
    color: #f8c049;
    font-size: 14px;
}

#restaurant-part .restaurant .content .restaurant .images .undertext a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

#restaurant-part .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    font-size: 60px;
    z-index: 1;
    cursor: pointer;
    color: #7a7a7a;
}

#restaurant-part .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    font-size: 60px;
    z-index: 1;
    cursor: pointer;
    color: #7a7a7a;
}

/*=======================================================================================
                                    restaurant-part end
=========================================================================================*/

/*=======================================================================================
                                    app-part start
=========================================================================================*/

#app-part .app {
    text-align: center;
}

#app-part .app h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    padding-top: 20px;
}

#app-part .app p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-top: 10px;
}

#app-part .app .store {
    margin: 15px 0 20px 5px;
}

/*=======================================================================================
                                    app-part end
=========================================================================================*/

/*=======================================================================================
                                    footer-part start
=========================================================================================*/

#footer-part {
    padding-top: 15px;
    background: #f9c14a;
}

#footer-part #footer {
    padding: 30px 0;
    background: #000000;
}

#footer-part #footer .footer .left,
#footer-part #footer .footer .middle{
    border-right: 2px solid #f9c14a;
    padding: 0 60px;
}

#footer-part #footer .footer .left h2{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 40px;
}

#footer-part #footer .footer .left p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin: 15px 0;
    text-transform: uppercase;
    width: 220px;
}

#footer-part #footer .footer .left a{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    background: #f9c14a;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
}

#footer-part #footer .footer h2{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

#footer-part #footer .footer .content .item{
    margin-top: 20px;
}

#footer-part #footer .footer .content .item2{
    margin-bottom: 35px;
}

#footer-part #footer .footer .content .item .design{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-part #footer .footer .content .item .icon{
    width: 30px;
    height: 30px;
    background: #ffffff;
    position: relative;
    border-radius: 50%;
}

#footer-part #footer .footer .content .item .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#footer-part #footer .footer .content .item p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

#footer-part #footer .footer .right{
    padding: 0 60px;
}

/*=======================================================================================
                                    footer-part end
=========================================================================================*/